@using ACE_PC.Domain.Models.Users

<div class="card mt-4 border-0 shadow-sm">
    <div class="card-body">

        <div class="d-flex justify-content-between align-items-center flex-wrap gap-2">

            <MudText Typo="Typo.subtitle2">
                Showing Page <b>@PaginationResult.PageNumber</b>
                of <b>@PaginationResult.TotalPage</b>
            </MudText>

            <MudPagination Color="Color.Primary"
            Count="@PaginationResult.TotalPage"
            Selected="@PaginationResult.PageNumber"
            SelectedChanged="OnPageChanged" />

        </div>
    </div>
</div>

@code {

    [Parameter]
    public UserPaginationResut PaginationResult { get; set; } = new();

    [Parameter]
    public EventCallback<UserPaginationRequest> LoadUsers { get; set; }

    private async Task OnPageChanged(int page)
    {
        var paginationRequest = new UserPaginationRequest
        {
            PageCount = PaginationResult.PageCount,
            PageNumber = page,
        };
        await LoadUsers.InvokeAsync(paginationRequest);
        StateHasChanged();
    }
}