@inject UserUseCases UserUseCases;

<div class="d-flex align-items-center rounded-pill border bg-white px-3 py-1 shadow-sm">

    <span class="text-muted d-flex align-items-center me-2">
        <i class="bi bi-search fs-5 opacity-75"></i>
    </span>

    <input @bind="SearchKey"
           @bind:event="oninput"
           class="form-control border-0 bg-transparent p-2 shadow-none"
           placeholder="Search name, email..." />

    @if (!string.IsNullOrEmpty(SearchKey))
    {
        <button class="btn btn-light text-muted rounded-circle d-flex align-items-center justify-content-center me-2 p-0"
                type="button"
                @onclick="ClearSearch"
                style="width: 30px; height: 30px; min-width: 30px;"
                title="Clear search">
            <i class="bi bi-x fs-5"></i>
        </button>
    }

    <button class="btn btn-info rounded-pill fw-semibold text-nowrap px-4 py-2 text-white shadow-sm"
            type="button"
            @onclick="ExecuteSearch">
        Search
    </button>

</div>

@code {


    [Parameter]
    public EventCallback<List<UserDto>> OnSearch { get; set; }

    public string SearchKey { get; set; } = "";

    private async Task ExecuteSearch()
    {
        var request = new UserSearchRequest
        {
            Name = SearchKey,
            Email = SearchKey,
        };

        var pagination = new UserPaginationRequest
        {
            PageCount = 10,
            PageNumber = 1
        };

        var response = await UserUseCases.GetUsersBySearch(pagination, request);
        if (response.IsSuccess)
        {
            if (response.Data!.UserDto is not null)
            {
                await OnSearch.InvokeAsync(response.Data.UserDto);

            }
        }
    }

    private async Task ClearSearch()
    {
        SearchKey = "";
        await ExecuteSearch();
    }
}