@page "/categories/edit/{Id:int}"

@inject NavigationManager Nav
@inject ISnackbar Snackbar
@inject CategoriesUseCase CategoriesUseCase;



<div class="container mt-5">

    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">

            <div class="card shadow-lg border-0">

                <div class="card-header bg-warning text-dark py-3">
                    <h3 class="mb-0">
                        ✏️ Edit Category
                    </h3>
                </div>

                <div class="card-body p-4">

                    @if (!string.IsNullOrWhiteSpace(Error))
                    {
                        <div class="alert alert-danger">
                            @Error
                        </div>
                    }

                    <EditForm Model="model" OnValidSubmit="HandleValidSubmit">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div class="mb-3">
                            <label class="form-label fw-bold">
                                Category ID
                            </label>
                            <InputNumber class="form-control"
                                         @bind-Value="model.CategoryId"
                                         disabled />
                        </div>

                        <div class="mb-4">
                            <label class="form-label fw-bold">
                                Category Name
                            </label>

                            <InputText class="form-control form-control-lg"
                                       @bind-Value="model.Name" />
                        </div>

                        <div class="d-flex justify-content-end gap-2">

                            <button type="button"
                                    class="btn btn-outline-secondary"
                                    @onclick="Back">
                                Cancel
                            </button>

                            <button type="submit"
                                    class="btn btn-warning"
                                    disabled="@IsSaving">

                                @if (IsSaving)
                                {
                                    <span class="spinner-border spinner-border-sm me-2"></span>
                                    <span>Updating...</span>
                                }
                                else
                                {
                                    <span>
                                        Update Category
                                    </span>
                                }

                            </button>

                        </div>

                    </EditForm>

                </div>

            </div>

        </div>
    </div>

</div>

@code {

    [Parameter]
    public int Id { get; set; }

    private CategoryDto model = new();

    private string Error = string.Empty;

    private bool IsSaving;

    protected override async Task OnInitializedAsync()
    {
        await LoadCategory(Id);
    }

    private async Task LoadCategory(int id)
    {
        await Task.Delay(500);

        // Demo Data
        var response = await CategoriesUseCase.GetGategoryIdAsync(id);
        if (response.IsError)
        {
            Error = response.ResponseMessage;
            return;
        }
        if (response.IsSuccess)
        {
            model = response.Data!.Category ?? new();
        }
    }

    private async Task HandleValidSubmit()
    {
        try
        {
            IsSaving = true;

            await Task.Delay(1500);
            var request = new UpdateCategoryRequest
            {
                Name = model.Name
            };

            var response = await CategoriesUseCase.UpdateCategoryAsync(model.CategoryId,request);
            if (response.IsError)
            {
                Error = response.ResponseMessage;
                return;
            }
            if (response.IsSuccess)
            {
                Snackbar.Add(
                    $"Category '{response.Data!.Category!.Name}' updated successfully.",
                    Severity.Success);
                
            }
            Nav.NavigateTo("/categories");
        }
        catch (Exception ex)
        {
            Error = ex.Message;
        }
        finally
        {
            IsSaving = false;
        }
    }

    private void Back()
    {
        Nav.NavigateTo("/categories");
    }

    
}