@page "/quotes"

@attribute [Authorize(Roles = "user,admin")]

<section class="bg-light min-vh-100 py-5">

    <div class="container">

        <!-- Header -->
        <div class="mb-5 text-center">
            <h1 class="fw-bold">Quotes Collection</h1>
            <p class="text-muted">
                Discover inspiring quotes from our community.
            </p>
        </div>

        <!-- Quotes Grid -->
        <div class="row g-4">

            @for (int i = 0; i < 6; i++)
            {
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="h-100">
                        @* <QuoteCardComponent /> *@
                        <QuoteCard2Component />
                    </div>
                </div>
            }

        </div>

    </div>

</section>
@code {

}
