@page "/quotes"

@inject QuoteUseCases QuoteUseCases;
@inject NavigationManager NavigationManager
@attribute [StreamRendering]
@attribute [Authorize];

<section>
   @if (MyQuotes is null)
    {
        <LoadingComponent/>
    }
    else
    {
    <div class="container">
            <h3 class="text-info mb-3">Quotes List</h3>


            <div class="container pt-4">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <button @onclick="@(() => NavigationManager.NavigateTo("/quotes/create"))" type="button" class="btn btn-primary ">
                            <i class="bi bi-plus-lg"></i> Create
                        </button>
                    </div>
                    <div class="col-12 col-lg-6">
                        <QuoteSearchComponent OnSearchCompleted="HandleSearchCompleted" />
                    </div>
                </div>
            </div>

                  
            <QuoteTableComponent LaodQuotes="LoadQuotes" Quotes="MyQuotes" />
    </div>
    }
</section>


<br />
<hr />
<pre>
     @(JsonConvert.SerializeObject(MyQuotes, Formatting.Indented))
     @(JsonConvert.SerializeObject(Pagination, Formatting.Indented))
</pre>

@code {

    public List<QuotesDto>? MyQuotes { get; set; }

    public QuotesPaginationResult? Pagination { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await this.LoadQuotes();

    }

    public async Task LoadQuotes()
    {
        await Task.Delay(300);

        var paginationData = new QuotePaginationRequest
            {
                PageCount = 5,
                PageNumber = 1
            };

        var response = await QuoteUseCases.GetAllQuotes(paginationRequest :paginationData);
        if (response.IsSuccess)
        {
            Pagination = response?.Data?.PaginationResult;
            var quotes = response?.Data!.Quotes;
            if (quotes is not null)
            {
                // MyQuotes.Clear();
                MyQuotes = [.. quotes];
            }
        }
    }

    private void HandleSearchCompleted(List<QuotesDto> filteredQuotes)
    {
        MyQuotes = [.. filteredQuotes];
    }


}
