@page "/quotes"
@using ACE_PC.BlazorServer.Components.Temps

@attribute [Authorize(Roles = "user,admin")]
@inject QuoteUseCases QuoteUseCases;
@inject ISnackbar Snackbar;
@inject NavigationManager NavigationManager;


@if (QuoteDtos is null)
{
    <LoadingComponent />
}
else
{
    <section class="bg-light min-vh-100 py-5">

        <div class="container">

            <!-- Title -->
            <PageTitleComponent TitleModel="TitleModel">
                <Actions>
                    <button @onclick="CreateQuote" class="btn btn-primary">
                        <i class="bi bi-plus-lg"></i>
                        Create Quote
                    </button>
                </Actions>
            </PageTitleComponent>


            @* <!-- Header -->
            <div class="mb-5 text-center">
                <h1 class="fw-bold">Quotes Collection</h1>
                <p class="text-muted">
                    Discover inspiring quotes from our community.
                </p>
            </div> *@

            <!-- Quote Lists -->
            <div class="row g-4">
                @foreach (var quote in QuoteDtos)
                {
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="h-100">

                            <!-- Quote Card -->
                            <FinalQuoteCard QuoteDto="quote" />
                        </div>
                    </div>
                }
            </div>

            <!-- Pagination -->
            <QuotespaginationComponent LoadQuotes="LoadQuotes" PaginationResult="PaginationResult" />


        </div>

    </section>
}


<pre class="overflow-hidden">
     @* @(JsonConvert.SerializeObject(QuoteDtos,Formatting.Indented))  *@
     @* @(JsonConvert.SerializeObject(PaginationResult, Formatting.Indented))  *@
</pre>


@code {

    public BaseTitle TitleModel { get; set; } = new BaseTitle
    {
        Title = "Quote Collection",
        Subtitle = "Discover inspiring quotes from our community.",
        Icon = "bi bi-chat-left-quote"
    };

    public List<QuotesDto>? QuoteDtos { get; set; }

    public QuotesPaginationResult PaginationResult { get; set; } = new();

    public QuotePaginationRequest PaginationRequest { get; set; } = new QuotePaginationRequest
    {
        PageCount = 9,
        PageNumber = 1,
    };

    private async Task LoadQuotes(QuotePaginationRequest pagination)
    {
        try
        {
            var response = await QuoteUseCases.GetAllQuotes(pagination);
            if (response.IsError)
            {
                if (response.ResponseType == Domain.Helpers.ReqResHelper.EnumResponseType.Pending)
                {
                    Snackbar.Add(response.ResponseMessage, Severity.Error);
                    return;
                }
                if (response.ResponseType == Domain.Helpers.ReqResHelper.EnumResponseType.ValidationError)
                {
                    Snackbar.Add(response.ResponseMessage, Severity.Error);
                    return;
                }
                if (response.ResponseType == Domain.Helpers.ReqResHelper.EnumResponseType.SystemError)
                {
                    Snackbar.Add(response.ResponseMessage, Severity.Error);
                    return;
                }
            }

            if (response.IsSuccess)
            {
                var quotes = response.Data!.Quotes;
                if (quotes is not null)
                {
                    QuoteDtos = [.. quotes];
                }
                if (response.Data.PaginationResult is not null)
                {
                    var paginationResult = response.Data.PaginationResult;
                    PaginationResult = paginationResult!;
                }

            }
        }
        catch (Exception err)
        {
            Snackbar.Add(err.Message, Severity.Error);
        }

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(150);
            await this.LoadQuotes(PaginationRequest);
            StateHasChanged();
        }
    }

    private async Task CreateQuote()
    {
        NavigationManager.NavigateTo("/quotes/create");
    }

}
