@page "/quotes"

@attribute [Authorize(Roles = "user,admin")]
@inject QuoteUseCases QuoteUseCases;
@inject ISnackbar Snackbar;


<section class="bg-light min-vh-100 py-5">

    <div class="container">

        <!-- Header -->
        <div class="mb-5 text-center">
            <h1 class="fw-bold">Quotes Collection</h1>
            <p class="text-muted">
                Discover inspiring quotes from our community.
            </p>
        </div>

        <!-- Quotes Grid -->
        <div class="row g-4">

            @for (int i = 0; i < 6; i++)
            {
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="h-100">
                        @* <QuoteCardComponent /> *@
                        <QuoteCard2Component />
                    </div>
                </div>
            }

        </div>

    </div>

</section>

<pre class="overflow-hidden">
    @* @(JsonConvert.SerializeObject(QuoteDtos,Formatting.Indented)) *@
</pre>


@code {

    public List<QuotesDto>? QuoteDtos { get; set; }

    private async Task LoadQuotes()
    {
        try
        {
            var response = await QuoteUseCases.GetAllQuotes();
            if (response.IsError)
            {
                if (response.ResponseType == Domain.Helpers.ReqResHelper.EnumResponseType.Pending)
                {
                    Snackbar.Add(response.ResponseMessage, Severity.Error);
                    return;
                }
                if (response.ResponseType == Domain.Helpers.ReqResHelper.EnumResponseType.ValidationError)
                {
                    Snackbar.Add(response.ResponseMessage, Severity.Error);
                    return;
                }
                if (response.ResponseType == Domain.Helpers.ReqResHelper.EnumResponseType.SystemError)
                {
                    Snackbar.Add(response.ResponseMessage, Severity.Error);
                    return;
                }
            }

            if (response.IsSuccess)
            {
                var quotes = response.Data!.Quotes;
                if (quotes is not null)
                {
                    QuoteDtos = [.. quotes];
                }

            }
        }
        catch (Exception err)
        {
            Snackbar.Add(err.Message, Severity.Error);
        }

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await this.LoadQuotes();
            StateHasChanged();
        }
    }

}
