@inject CommentUseCases CommentUseCases;


<!-- Create Comment Box -->
<div class="card rounded-4 mb-4 border-0 shadow-sm">
    <div class="card-body">

        <div class="d-flex gap-3">

            <!-- Avatar -->
            <div class="rounded-circle bg-primary d-flex justify-content-center align-items-center fw-bold text-white"
                 style="width:45px; height:45px; min-width:45px;">
                U
            </div>

            <!-- Input Area -->
            <div class="flex-grow-1">
                <EditForm Model="Comment" FormName="CreateComment" OnValidSubmit="AddComment">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <textarea class="form-control bg-light rounded-4 border-0 p-3"
                              rows="3"
                              placeholder="Write a comment..."
                              @bind="Comment.Content"></textarea>
                    <p>
                        <ValidationMessage For="() => Comment.Content" />
                    </p>

                    <div class="d-flex justify-content-end mt-3">
                        <button type="submit" class="btn btn-primary rounded-pill px-4"
                                disabled="@IsPosting">

                            @if (IsPosting)
                            {
                                <span class="spinner-border spinner-border-sm me-2"></span>
                                @* Posting... *@
                            }
                            else
                            {
                                <i class="bi bi-send me-2"></i>
                                @* Post Comment *@
                            }

                        </button>

                    </div>
                </EditForm>

            </div>
        </div>

    </div>
</div>

@code {


    [Parameter]
    public QuotesDto Quote { get; set; } = new();

    [Parameter]
    public EventCallback LoadQuote { get; set; }

    public CommentDto Comment { get; set; } = new();

    private bool IsPosting = false;


    private async Task AddComment()
    {

        if (string.IsNullOrWhiteSpace(Comment.Content))
            return;

        IsPosting = true;

        Console.WriteLine(Comment.Content);
        Console.WriteLine(Quote.AuthorId);
        Console.WriteLine(Quote.Id);

        var request = new CreateCommentRequest()
        {
            Body = Comment.Content,
            QuoteId = Quote.Id,
            UserId = Quote.AuthorId
        };

        var response = await CommentUseCases.CreateAsync(request);

        if (response.IsSuccess)
        {
            Console.WriteLine(response.ResponseMessage);
            await this.LoadQuote.InvokeAsync();
        }

        Comment.Content = "";

        IsPosting = false;
    }

 
}