

<div class="d-flex justify-content-between align-items-center mb-4 mt-2 p-2">
    <div>
        <h2 class="fw-bold mb-1">
            <i class="@TitleModel.Icon me-2"></i>
            @TitleModel.Title
        </h2>

        @if (!string.IsNullOrWhiteSpace(TitleModel.Subtitle))
        {
            <p class="text-muted mb-0">@TitleModel.Subtitle</p>
        }
    </div>

    @if (Actions is not null)
    {
        <div>
            @Actions
        </div>
    }
</div>
<hr />


@code {
    [Parameter]
    public BaseTitle TitleModel { get; set; } = new();

    [Parameter]
    public RenderFragment? Actions { get; set; }

}