@page "/profile";
@using ACE_PC.BlazorServer.Components.Shared.User
@using ACE_PC.Domain.Dtos.Users
@inject UserUseCases UserUseCases;
@attribute [Authorize]


<section class="container mx-auto p-3">
    <AuthorizeView>
        <NotAuthorized>
            <div class="d-flex justify-content-center align-items-center mt-xxl-5">
                <Register2Component />
            </div>
        </NotAuthorized>

        <Authorized>
            <div>
                @if (AuthUser is null)
                {
                    <LoadingComponent />
                }
                else
                {
                    <!-- Title -->
                    <PageTitleComponent TitleModel="TitleModel" />

                    <!-- AuthCard -->
                    <ProfileCardComponent AuthUser="AuthUser" />
                }
            </div>
        </Authorized>
    </AuthorizeView>
</section>

@* <pre>
            @(JsonConvert.SerializeObject(AuthUser, Formatting.Indented))
        </pre> *@


@code {
    public BaseTitle TitleModel { get; set; } = new BaseTitle
    {
        Title = "User Profile",
        Subtitle = "Your Credential!",
        Icon = "bi bi-person"
    };

    public UserDto? AuthUser { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        var user = await UserUseCases.GetAuthUser();
        if (user is not null)
        {
            AuthUser = user;
        }
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {

    }
}
