@page "/profile";
@using ACE_PC.BlazorServer.Components.Shared.User
@using ACE_PC.Domain.Dtos.Users
@inject UserUseCases UserUseCases;
@* @attribute [Authorize] *@



<AuthorizeView>

    <NotAuthorized>
        <div class="d-flex justify-content-center align-items-center mt-xxl-5">
            <Register2Component />
        </div>
    </NotAuthorized>

    <Authorized>
        <section>
            @if (AuthUser is null)
            {
                <LoadingComponent />
            }
            else
            {
                <h3>Profile</h3>
                <ProfileCardComponent AuthUser="AuthUser" />

            }
        </section>

        <pre>
            @(JsonConvert.SerializeObject(AuthUser, Formatting.Indented))
        </pre>

    </Authorized>

</AuthorizeView>



@code {

    public UserDto? AuthUser { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        var user = await UserUseCases.GetAuthUser();
        if (user is not null)
        {
            AuthUser = user;
        }
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {

    }
}
