@page "/users"

@attribute [Authorize(Roles = "admin")]
@inject UserUseCases UserUseCases;
@inject NavigationManager NavigationManager;

<PageTitle>User Lists</PageTitle>

<section>
    @if (UserDtos is null)
    {
        <LoadingComponent />
    }
    else
    {
        <PageTitleComponent TitleModel="UserTitle">
            <Actions>
                <button @onclick="CreateUser" class="btn btn-primary">
                    <i class="bi bi-plus-lg"></i>
                    Create User
                </button>
            </Actions>
        </PageTitleComponent>



        <!--Search Bar-->
        <div class="row">
            <div class="col-12 col-lg-6 my-2 p-2">
                <UserSearchComponent OnSearch="ExecuteSearch" />
            </div>
        </div>

        <UserListsComponent LaodUsers="LaodUsers" Users="UserDtos" />

        <UsersPaginationComponent LoadUsers="LaodUsers" PaginationResult="PaginationResult" />
    }
</section>


<br />
<hr />
<pre>
    @* @(JsonConvert.SerializeObject(UserDtos, Formatting.Indented)) *@
    @* @(JsonConvert.SerializeObject(PaginationResult, Formatting.Indented)) *@
</pre>

@code {

    public BaseTitle UserTitle { get; set; } = new BaseTitle
    {
        Title = "User Management",
        Subtitle = "Manage system users and roles ",
        Icon = "bi bi-person-gear"
    };

    public List<UserDto>? UserDtos { get; set; }

    public UserPaginationRequest Pagination { get; set; } = new UserPaginationRequest
    {
        PageCount = 10,
        PageNumber = 1
    };

    public UserPaginationResut PaginationResult { get; set; } = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await this.LaodUsers(Pagination);
            StateHasChanged();
        }
    }

    private async Task LaodUsers(UserPaginationRequest pagination)
    {
        var response = await UserUseCases.GetAllUsers(pagination);
        if (response.IsSuccess)
        {
            var users = response.Data!.UserDto;
            var paginationResult = response.Data.PaginationResult;

            if (users is not null || users!.Count > 0)
            {
                UserDtos = [.. users];
                // StateHasChanged();
            }

            if (paginationResult is not null)
            {
                PaginationResult = paginationResult;
                // StateHasChanged();
            }
        }
    }

    private async Task CreateUser()
    {
        NavigationManager.NavigateTo("/register");
    }


    private async Task ExecuteSearch(List<UserDto> filterUsers)
    {
        UserDtos = [.. filterUsers];
    }
}
