@page "/users/{userId:int}"
@inject UserUseCases UserUseCases;

<section>

    @if (User is null)
    {
        <LoadingComponent />
    }
    else
    {
        <PageTitleComponent TitleModel="TitleModel"></PageTitleComponent>
        <UserDetailCard2Component />
    }
</section>

<pre>
    @(JsonConvert.SerializeObject(User, Formatting.Indented))
</pre>

@code {
    [Parameter]
    public int UserId { get; set; }

    public UserDto? User { get; set; }

    public BaseTitle TitleModel { get; set; } = new BaseTitle
    {
        Title = "Detail User ",
        Subtitle = "User Information",
        Icon = "bi bi-info-circle"
    };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var response = await UserUseCases.GetUserById(UserId);
            if (response.IsSuccess)
            {
                var user = response.Data?.User;
                if (user is not null)
                {
                    User = user;
                    StateHasChanged();
                }
            }
        }
    }

}
