@page "/"

<PageTitle>Home</PageTitle>


<AuthorizeView>
    <Authorized>
        <div class="border-danger container mx-auto mt-10">
            @* Welcome @context.User.Identity?.Name! *@
            <BannerComponent Name="@context.User.Identity!.Name" />
        </div>

        <pre>
            @* @(JsonConvert.SerializeObject(context.User)) *@
        </pre>
    </Authorized>
    <NotAuthorized>
        <div class="container mx-auto mt-4">
            <BannerComponent />
        </div>
    </NotAuthorized>
</AuthorizeView>

